Import des librairies

In [18]:
import pandas as pd
import seaborn as sns
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,StandardScaler

Import du Dataset

In [14]:
immo_df = pd.read_csv("nomduDataset/train_data.csv")
immo_df

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,2072,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,72000.0,INLAND
1,10600,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,274100.0,<1H OCEAN
2,2494,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,58300.0,INLAND
3,4284,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,200000.0,<1H OCEAN
4,16541,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,117900.0,INLAND
...,...,...,...,...,...,...,...,...,...,...,...
16507,1099,-121.90,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625,93800.0,INLAND
16508,18898,-122.25,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133,103100.0,NEAR BAY
16509,11798,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958,192600.0,INLAND
16510,6637,-118.14,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750,153500.0,<1H OCEAN
16511,2575,-124.13,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478,81100.0,NEAR OCEAN

Supprimer la colonne "Unnamed: 0"

In [15]:
immo_df = immo_df.drop(columns=["Unnamed: 0"], axis=1)
immo_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,72000.0,INLAND
1,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,274100.0,<1H OCEAN
2,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,58300.0,INLAND
3,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,200000.0,<1H OCEAN
4,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,117900.0,INLAND
...,...,...,...,...,...,...,...,...,...,...
16507,-121.90,39.59,20.0,1465.0,278.0,745.0,250.0,3.0625,93800.0,INLAND
16508,-122.25,38.11,49.0,2365.0,504.0,1131.0,458.0,2.6133,103100.0,NEAR BAY
16509,-121.22,38.92,19.0,2531.0,461.0,1206.0,429.0,4.4958,192600.0,INLAND
16510,-118.14,34.16,39.0,2776.0,840.0,2546.0,773.0,2.5750,153500.0,<1H OCEAN
16511,-124.13,40.80,31.0,2152.0,462.0,1259.0,420.0,2.2478,81100.0,NEAR OCEAN

In [37]:
scaler = preprocessing.StandardScaler()
df_copy_scaled = scaler.fit_transform(immo_df)
df_copy_scaled = pd.DataFrame(df_copy_scaled, columns=col_names)

DÃ©finir X et y

In [25]:
X = df_copy_scaled.drop("median_house_value", axis=1)
y = df_copy_scaled["median_house_value"]

Split du Dataset

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=.2, 
                                                    random_state=1)

RÃ©gression LinÃ©aire

In [31]:
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)
lin_reg.fit(X_test, y_test)

Import du Pickle

In [29]:
import pickle

with open("lin_reg.pkl", "wb") as file:
    pickle.dump(lin_reg, file)

Load model from pickle file

In [34]:
my_model = pickle.load(open("nomdumodel.pkl","rb"))

my_model.score(X_test, y_test)

Random Forest Regressor

In [33]:
from sklearn.ensemble import RandomForestRegressor

random_model = RandomForestRegressor(max_depth=5, random_state=0)
random_model.fit(X_train, y_train)

acc_random_model = random_model.score(X_test, y_test) 

print(acc_random_model)

Train model score

In [35]:
random_model = RandomForestRegressor(random_state=0)
random_model.fit(X_train, y_train)
acc_random_model = random_model.score(X_test, y_test) 
print(acc_random_model)